.water-route {
  stroke: rgba(0, 0, 0, .5);
  stroke-width: 2;
  stroke-dasharray: 6 5;
}
 .water-route:hover {
    stroke-dasharray: 10 0;
    animation: dasharray 5s infinite alternate;
 }
 
 @keyframes dasharray {
  100% {
  	/* Черточки нулевой длины с длинными пробелами, линиия исчезнет */
    stroke-dasharray: 5 6;
  }
}


.farelden_reg {
	fill: rgba(15, 15, 15, 0.8);
	color: rgba(44, 160, 137, 0.7);
	stroke: rgba(15, 15, 15, 0.3);
	stroke-width: 0;
}

.farelden_reg:hover {
	fill: rgba(200, 15, 15, 0.5);
	color: rgba(200, 160, 137, 0.7);
	stroke: rgba(200, 15, 15, 0.3);
	stroke-width: 2;
	stroke-dasharray: 6,5;
}

